@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&family=Pacifico&display=swap");
:root {
  --primary-color: #25316d;
  --secondary-color: #5f6f94;
  --text-color: #97d2ec;
  --color-white: #fff;
  --container-lg-s: 80%;
  --container-sm-s: 90%;
  --transition-effect: 400ms all;
  --box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1); }

.container {
  margin: 0 auto;
  width: 80%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none; }

body {
  font-family: "Montserrat", Helvetica;
  line-height: 2rem;
  color: #fff; }

a {
  text-decoration: none; }

img {
  width: 100%;
  object-fit: cover; }

header {
  width: 100%;
  height: 100vh; }

.toggle_btn {
  width: 35px;
  position: absolute;
  right: 60px;
  top: 40px;
  display: nokne;
  z-index: 2; }

.toggle_btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  float: left;
  margin-bottom: 8px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem; }

.logo_container {
  font-size: 20px;
  transition: 400ms all; }

.logo_container:hover {
  filter: brightness(4);
  font-size: 25px;
  cursor: pointer; }

.nav_list_container ul {
  display: flex;
  font-size: 1.3rem;
  gap: 2rem; }

.nav_list_container ul li {
  color: #fff; }

.nav_list_container ul li:hover {
  border-bottom: 3px solid var(--secondary-color);
  padding: 10px;
  transition: 400ms all; }

.logo_d {
  color: var(--primary-color); }

.header_text_container {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
  line-height: 3rem;
  background-color: rgba(0, 0, 0, 0.6); }

.header_text {
  font-size: 60px;
  margin: 10px 0 30px;
  line-height: 60px; }

.header_d {
  color: var(--primary-color); }

.background_clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1; }

@media (min-aspect-ratio: 16 / 9) {
  .background_clip {
    width: 100%;
    height: auto; } }

@media (max-aspect-ratio: 16 / 9) {
  .background_clip {
    width: auto;
    height: 100%; } }
