:root {
  --primary-color: #25316d;
  --secondary-color: #5f6f94;
  --secondary-color-2: #081b29;
  --text-color: #97d2ec;
  --text-color-2: #00abf0;
  --container-lg-s: 80%;
  --container-sm-s: 90%;
  --transition-effect: 400ms all;
  --box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}
