#about {
  background-image: url(/img/tech.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  // background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.about_img {
  padding: 2rem;
  width: 30rem;
  border-radius: 3rem;
}
.about_heading {
  padding-bottom: 1rem;
  font-size: 40px;
}
.titles_container {
  display: flex;
  margin: 15px 0 40px;
}
.tab_links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab_links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s all;
}
.tab_links.skill_link::after {
  width: 50%;
}
.tab_content ul li {
  list-style: none;
  margin: 8px 0;
}
.tab_content ul li span {
  color: var(--primary-color);
  font-size: 18px;
}
.tab_content {
  display: none;
}
.tab_content.skill_con {
  display: block;
}
@media only screen and (max-width: 600px) {
  .about_container {
    display: block;
    align-items: center;
  }
  .about_img {
    width: 15rem;
  }
}
@media only screen and (min-width: 600px) {
  .about_container {
    display: block;
    align-items: center;
  }
  .about_img {
    width: 40rem;
  }
}
@media only screen and (min-width: 991px) {
  .about_container {
    display: block;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .about_container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  .about_img {
    width: 30rem;
  }
}
